*.iml
.gradle
/.gradle-user-home/
/.gradle-user-home-local/
/.gradle-tmp/
/.gradle-y/
/.gradle-y2/
/.android-sdk/
.idea
.kotlin
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.oauth_client_id.txt
.store_password.txt
.key_password.txt
.curseforge_api.txt
ZalithLauncher/*.jks
/scripts/xenon-mobile/__pycache__/
